@import url(styles/cabecalhonav.css);
@import url(styles/cabecalho.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(styles/metricas.css);

:root {
    --branco: #ffffff;
    --preto: #101828;
    --cinza: #667085;   

    --cinza-escuro: #3a404e;
    --vermelho: #8e2424;
    --fonte-primaria: 'Inter', sans-serif;
}


body {
    margin: 0;
    font-family: var(--fonte-primaria);
    background-color: var(--branco);
}
