.cabecalho{ 
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--cinza);
    align-items: center;
    gap: 24px;
    
}

.cabecalho__titulo{

    color: var(--preto);
    font-size: 48px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.cabecalho__subtitulo{

    color: var(--cinza);
    font-size: 20px;
    font-weight: 400;
    font-family: var(--fonte-primaria);
    width: 770px; 
}

.cabecalho__texto{
    color: var(--vermelho);
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--fonte-primaria);
    margin-top: 2rem;
}